body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f1f5f9;
    margin: 0;
}

/* Navbar */
.navbar {
    background: #0f172a;
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.navbar span {
    color: #cbd5f5;
    font-size: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    background: #334155;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 25px;
}

.navbar a:hover {
    background: #475569;
}

/* Layout */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 25px;
}

h2 {
    font-size: 35px;
    color: #0f172a;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 20px;
    color: #475569;
    margin-bottom: 25px;
}

/* Table */
.table-wrapper {
    background: white;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #e5e7eb;
}

th, td {
    padding: 14px 16px;
    text-align: center;
    font-size: 20px;
}

th {
    color: #0f172a;
}

tbody tr {
    border-bottom: 1px solid #e5e7eb;
}

tbody tr:hover {
    background-color: #f8fafc;
}

/* Event Badges */
.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.success {
    background: #dcfce7;
    color: #166534;
}

.failed {
    background: #fee2e2;
    color: #991b1b;
}

.denied {
    background: #fde68a;
    color: #92400e;
}

.neutral {
    background: #e5e7eb;
    color: #374151;
}
