body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f1f5f9;
    margin: 0;
}

/* Navbar */
.navbar {
    background: #0f172a;
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.navbar span {
    color: #cbd5f5;
    font-size: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    background: #334155;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 25px;
}

.navbar a:hover {
    background: #475569;
}

/* Layout */
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}

h2 {
    font-size: 40px;
    color: #0f172a;
}

p {
    font-size: 25px;
    color: #334155;
}

/* Cards */
.cards {
    display: flex;
    gap: 25px;
    margin-top: 35px;
}

.card {
    flex: 1;
    background: white;
    padding: 34px;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 30px;
    margin-top: 0;
}

.admin {
    border-left: 8px solid #dc2626;
}

.employee {
    border-left: 8px solid #16a34a;
}

.card p {
    font-size: 20px;
    color: #475569;
}

.card a {
    display: inline-block;
    margin-top: 18px;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 20px;
}

/* Buttons */
.admin a {
    background: #dc2626;
}

.employee a {
    background: #16a34a;
}

.restricted {
    background: #9ca3af !important;
    cursor: not-allowed;
}

.restricted-text {
    color: #dc2626;
}

/* Footer Note */
.note {
    margin-top: 45px;
    font-size: 20px;
    color: #64748b;
}
