<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Secure IAM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="login-box">
    <h2>Secure IAM Login</h2>
    <div class="subtitle">
        Role-Based Access Control & IP-Aware Security
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert error">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>

    <div class="footer">
        Authorized access only
    </div>
</div>

</body>
</html>
